<html>

<head>
        <link rel="stylesheet" href="https://ssl-ccstatic.highwebmedia.com/CACHE/css/output.f48c2a3e41ca.css"
                type="text/css" media="all" />
</head>

<body>
        <div class="chat-holder">
                <div class="chat-box">
                        <div class="chat-list" style="height: 540px; font-size: 9pt; display: block;">
                        </div>
                        <div id="autocomplete_prefix"
                                style="display: none; font: 100% Arial, Helvetica, sans-serif; width: auto;">
                        </div>
                        <div id="emoticon_autocomplete"
                                style="background: rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(177, 177, 177) rgb(177, 177, 177) rgb(255, 255, 255); border-image: initial; cursor: pointer; float: left; font: 100% Arial, Helvetica, sans-serif; width: 260px; max-height: 290px; position: absolute; z-index: 99; top: 658.844px; left: 560.953px; display: block;">
                                <div id="emoticon_preview"
                                        style="height: 110px; line-height: 105px; text-align: center; border-bottom: 1px solid rgb(177, 177, 177); display: block;">
                                        <a class="facebox_link thumbnail" href="#report_emoticon" rel="facebox"><input
                                                        type="hidden" name="image_url"
                                                        value="https://public.chaturbate.com/uploads/avatar/2014/10/22/20/04/bb02177047156f7640d8aef690bbe8f5c6adb5a8.jpg"><input
                                                        type="hidden" name="report_url"
                                                        value="/emoticon_report_abuse/assfukk/"><img id="emoticon_image"
                                                        src="https://public.chaturbate.com/uploads/avatar/2014/10/22/20/04/bb02177047156f7640d8aef690bbe8f5c6adb5a8.jpg"
                                                        title=":assfukk"
                                                        style="max-height: 80px; max-width: 250px; padding: 10px; vertical-align: middle;"><br><span
                                                        id="preview_text"
                                                        style="font-size: 10px; position: relative; top: -55px;">VIEW
                                                        / REPORT
                                                        EMOTICON</span></a></div>
                                <div id="emoticon_list" style="max-height: 180px; overflow: hidden scroll;">
                                        <div class="emote_container"
                                                style="padding: 2px 8px; background-color: rgb(255, 255, 255);">
                                                <input type="hidden" class="img_src"
                                                        value="https://public.chaturbate.com/uploads/avatar/2016/09/24/23/19/98fc7b3355badb9e97721bc6fa401818918e593e.jpg"><span
                                                        class="emote_name" style="margin-right: 16px;">assfuckcum</span>
                                        </div>
                                        <div class="emote_container"
                                                style="padding: 2px 8px; background-color: rgb(255, 255, 255);">
                                                <input type="hidden" class="img_src"
                                                        value="https://public.chaturbate.com/uploads/avatar/2018/04/17/09/45/7fc6e4e29c498f04c3f94e635432dd19404ccc73.jpg"><span
                                                        class="emote_name"
                                                        style="margin-right: 16px;">Assface00998</span></div>
                                        <div class="emote_container selected"
                                                style="padding: 2px 8px; background-color: rgb(204, 204, 204);"><input
                                                        type="hidden" class="img_src"
                                                        value="https://public.chaturbate.com/uploads/avatar/2016/05/22/02/05/ff8f20479e9a2f14d30f93d4e1e93b35a2625ac2.jpg"><span
                                                        class="emote_name"
                                                        style="margin-right: 16px;">assfuckingbisexualsXXX</span>
                                        </div>
                                        <div class="emote_container"
                                                style="padding: 2px 8px; background-color: rgb(255, 255, 255);">
                                                <input type="hidden" class="img_src"
                                                        value="https://public.chaturbate.com/uploads/avatar/2013/05/29/KeWPMksN9YVnEdEACj.jpg"><span
                                                        class="emote_name" style="margin-right: 16px;">assfuck</span>
                                        </div>
                                        <div class="emote_container"
                                                style="padding: 2px 8px; background-color: rgb(255, 255, 255);">
                                                <input type="hidden" class="img_src"
                                                        value="https://public.chaturbate.com/uploads/avatar/2016/09/09/07/09/da143171d8a867bc8edf17a414ee0cc4d85bd954.jpg"><span
                                                        class="emote_name"
                                                        style="margin-right: 16px;">assfuckingASSfuckingXXX</span>
                                        </div>
                                        <div class="emote_container"
                                                style="padding: 2px 8px; background-color: rgb(255, 255, 255);">
                                                <input type="hidden" class="img_src"
                                                        value="https://public.chaturbate.com/uploads/avatar/2015/05/19/11/53/85c702b9b8df89361191f3ee747f4c95038f57f8.jpg"><span
                                                        class="emote_name" style="margin-right: 16px;">assfuckkk</span>
                                        </div>
                                        <div class="emote_container"
                                                style="padding: 2px 8px; background-color: rgb(255, 255, 255);">
                                                <input type="hidden" class="img_src"
                                                        value="https://public.chaturbate.com/uploads/avatar/2015/10/02/14/34/a864393f1481b09d5ecf297ff57864fc23c66e69.jpg"><span
                                                        class="emote_name"
                                                        style="margin-right: 16px;">assfinger_007</span></div>
                                        <div class="emote_container"
                                                style="padding: 2px 8px; background-color: rgb(255, 255, 255);">
                                                <input type="hidden" class="img_src"
                                                        value="https://public.chaturbate.com/uploads/avatar/2015/10/16/18/58/d0fd840ad6184d1aa76554652b70ea542e92d22b.jpg"><span
                                                        class="emote_name" style="margin-right: 16px;">Assfuck</span>
                                        </div>
                                        <div class="emote_container"
                                                style="padding: 2px 8px; background-color: rgb(255, 255, 255);">
                                                <input type="hidden" class="img_src"
                                                        value="https://public.chaturbate.com/uploads/avatar/2016/10/16/03/13/614c8c4d5d0c4eb73d5d7b97f8b8e1f7033b710e.jpg"><span
                                                        class="emote_name"
                                                        style="margin-right: 16px;">assfuckhardddddXXX</span></div>
                                        <div class="emote_container"
                                                style="padding: 2px 8px; background-color: rgb(255, 255, 255);">
                                                <input type="hidden" class="img_src"
                                                        value="https://public.chaturbate.com/uploads/avatar/2017/11/08/18/14/a9542740c15e4ce2f5347fbf9ddcf8a2fa68a230.jpg"><span
                                                        class="emote_name" style="margin-right: 16px;">assfinger</span>
                                        </div>
                                        <div class="emote_container"
                                                style="padding: 2px 8px; background-color: rgb(255, 255, 255);">
                                                <input type="hidden" class="img_src"
                                                        value="https://public.chaturbate.com/uploads/avatar/2016/11/12/10/58/850cad4142d8ba517ca0215ede955116f92013c7.jpg"><span
                                                        class="emote_name" style="margin-right: 16px;">assfuck2</span>
                                        </div>
                                        <div class="emote_container"
                                                style="padding: 2px 8px; background-color: rgb(255, 255, 255);">
                                                <input type="hidden" class="img_src"
                                                        value="https://public.chaturbate.com/uploads/avatar/2017/01/28/06/43/1d003f569c565bb0701713114ead0cce4f9e6551.jpg"><span
                                                        class="emote_name"
                                                        style="margin-right: 16px;">assfuckmila1</span></div>
                                        <div class="emote_container"
                                                style="padding: 2px 8px; background-color: rgb(255, 255, 255);">
                                                <input type="hidden" class="img_src"
                                                        value="https://public.chaturbate.com/uploads/avatar/2017/04/20/01/34/d1e7747b27d54e858ba9844e94d7742c73b9e84c.jpg"><span
                                                        class="emote_name"
                                                        style="margin-right: 16px;">assfucksquirt77</span></div>
                                        <div class="emote_container"
                                                style="padding: 2px 8px; background-color: rgb(255, 255, 255);">
                                                <input type="hidden" class="img_src"
                                                        value="https://public.chaturbate.com/uploads/avatar/2016/12/28/01/52/9e9188a6d633b52f7f9cd8ac79c8d74691b784d5.jpg"><span
                                                        class="emote_name"
                                                        style="margin-right: 16px;">assfuckingexal</span></div>
                                        <div class="emote_container"
                                                style="padding: 2px 8px; background-color: rgb(255, 255, 255);">
                                                <input type="hidden" class="img_src"
                                                        value="https://public.chaturbate.com/uploads/avatar/2012/08/30/2yUaXH15ehZy2LNUf.jpg"><span
                                                        class="emote_name"
                                                        style="margin-right: 16px;">assfuck000000</span></div>
                                        <div class="emote_container"
                                                style="padding: 2px 8px; background-color: rgb(255, 255, 255);">
                                                <input type="hidden" class="img_src"
                                                        value="https://public.chaturbate.com/uploads/avatar/2015/03/31/05/43/7032a76352c618d6395b11e430681e254f8f7f13.jpg"><span
                                                        class="emote_name" style="margin-right: 16px;">assfuck100</span>
                                        </div>
                                        <div class="emote_container"
                                                style="padding: 2px 8px; background-color: rgb(255, 255, 255);">
                                                <input type="hidden" class="img_src"
                                                        value="https://public.chaturbate.com/uploads/avatar/2015/08/12/07/12/6a203d450b491ff1d01bf3383104ee8d5fc5f3cd.jpg"><span
                                                        class="emote_name" style="margin-right: 16px;">AssFinger2</span>
                                        </div>
                                        <div class="emote_container"
                                                style="padding: 2px 8px; background-color: rgb(255, 255, 255);">
                                                <input type="hidden" class="img_src"
                                                        value="https://public.chaturbate.com/uploads/avatar/2016/12/28/01/36/1b58ffdaa1643642b07b9af7d6de63c00b137e1a.jpg"><span
                                                        class="emote_name"
                                                        style="margin-right: 16px;">assfuckingsweetie</span></div>
                                        <div class="emote_container"
                                                style="padding: 2px 8px; background-color: rgb(255, 255, 255);">
                                                <input type="hidden" class="img_src"
                                                        value="https://public.chaturbate.com/uploads/avatar/2014/10/22/20/04/bb02177047156f7640d8aef690bbe8f5c6adb5a8.jpg"><span
                                                        class="emote_name" style="margin-right: 16px;">assfukk</span>
                                        </div>
                                        <div class="emote_container"
                                                style="padding: 2px 8px; background-color: rgb(255, 255, 255);">
                                                <input type="hidden" class="img_src"
                                                        value="https://public.chaturbate.com/uploads/avatar/2013/09/12/mrhlRmiWVgZn6PJ.jpg"><span
                                                        class="emote_name" style="margin-right: 16px;">assf</span></div>
                                </div>
                        </div>
                        <div id="facebox" style="top: 714.75px; left: 769.5px; display: block;">
                                <div class="popup">
                                        <div class="content">
                                                <div style="text-align: center;">
                                                        <img title=":fuckmybigasshole111"
                                                                src="https://public.chaturbate.com/uploads/avatar/2019/12/20/21/08/9daa5c2b89c90e7374d43122281e46e0c33cbcc9.jpg"
                                                                style="max-width: 480px; max-height: 480px;"><br>
                                                        <a class="report_abuse_link"
                                                                href="/emoticon_report_abuse/fuckmybigasshole111/">REPORT
                                                                EMOTICON</a>
                                                        <div class="emoticon_abuse_categories" style="display: block;">
                                                                <span id="abuse_category_options">
                                                                        Choose a category:
                                                                        <select class="abuse_category">
                                                                                <option value="ignore">Just ignore this
                                                                                        emoticon
                                                                                </option>
                                                                                <option value="offensive">Offensive
                                                                                </option>
                                                                                <option value="disgusting">Disgusting
                                                                                </option>
                                                                                <option value="fake_tip">Fake Tip
                                                                                </option>
                                                                                <option value="advertising">Advertising
                                                                                </option>
                                                                        </select>
                                                                </span>
                                                                <div class="button_abuse_report"><a href="#">REPORT</a>
                                                                </div>
                                                                <div class="button_abuse_cancel"><a href="#">CANCEL</a>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div> <a href="#" class="close"><img
                                                        src="/facebox/closelabel.png"
                                                        class="close_image" title="close"></a>
                                </div>
                        </div>
                        <form action="#" class="chat-form" name="chat_form" autocomplete="off">
                                <fieldset>
                                        <div class="row">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                                <tr>
                                                                        <td><input id="chat_input" type="text"
                                                                                        class="text" autocomplete="off"
                                                                                        maxlength="1024"></td>
                                                                        <td width="1"></td>
                                                                        <td width="20">
                                                                                <a href="#"
                                                                                        class="smile emoticon_button nooverlay">smile</a>
                                                                        </td>
                                                                        <td width="40" class="smilesubmit">
                                                                                <div class="button_send">
                                                                                        <a href="#"
                                                                                                class="send_message_button nooverlay">SEND</a>
                                                                                </div>
                                                                        </td>
                                                                </tr>
                                                        </tbody>
                                                </table>
                                        </div>
                                </fieldset>
                        </form>
                </div>
        </div>
</body>

</html>